$back-color-one: rgba(255, 255, 255, 0.8);
$back-color-one-v2: rgb(255, 255, 255);
$back-color-two: rgba(144, 144, 144, 0.9);
$back-color-three: rgba(38, 45, 127, 0.9);
$back-color-fourth: rgba(0, 0, 0, 0.9);

$text-color-one: rgb(255, 255, 255);
$text-color-two: rgb(38, 46, 127);
$text-color-three: rgb(0, 0, 0);
$text-color-forth: rgb(144, 144, 144);
$text-color-five: rgb(27, 45, 243);

$border-color-zero: rgb(255, 255, 255);
$border-color-one: rgb(144, 144, 144);
$border-color-two: rgba(38, 45, 127, 0.8);
$border-color-three: rgb(0, 0, 0);
$border-color-fourth: rgb(27, 45, 243);


$btn-color-one: rgb(38, 46, 127);
$btn-color-two: rgb(27, 45, 243);

$btn-hover-one: rgb(27, 45, 243);
$btn-hover-two: rgb(38, 46, 127);


$negative-color: rgb(202, 156, 72);


$like-hover-color: rgb(255, 225, 0);
