@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  height: 100%; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit; }

body {
  font-family: 'Montserrat', sans-serif; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.h2 {
  color: white;
  font-size: 34px; }

.body-sign-up {
  background: url(/assets/img/regist2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.body-sign-in {
  background: url(/assets/img/library2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.modal-card {
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
  align-items: center;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 20px;
  padding: 30px;
  position: relative; }

.label-for-input {
  width: 100%;
  height: auto;
  font-size: 20px;
  color: #909090;
  cursor: pointer; }
  .label-for-input:hover {
    color: white; }

.conteiner-input {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column-reverse; }
  .conteiner-input input:hover ~ label {
    color: white; }
  .conteiner-input input:focus ~ label {
    color: #1b2df3; }

.note-valid {
  position: absolute;
  top: 0px;
  right: -230px;
  width: 200px;
  height: auto;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  font-size: 18px;
  line-height: 120%;
  color: #ca9c48;
  z-index: 2; }

.input-one {
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  background: none;
  border-bottom: 1px solid #909090;
  color: #909090;
  font-size: 18px;
  margin-top: 10px;
  box-sizing: border-box; }
  .input-one:hover {
    border-bottom: 1px solid white; }
  .input-one:focus {
    border-bottom: 2px solid #1b2df3;
    color: #1b2df3; }

.regist-btn {
  background: none;
  color: #262e7f;
  border: none;
  cursor: pointer; }
  .regist-btn:hover {
    color: white; }

.btn {
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #262e7f;
  font-size: 15px;
  color: white;
  cursor: pointer; }
  .btn:hover {
    background: #1b2df3; }

.body-library-page {
  padding-top: 50px;
  background: url(/assets/img/books2.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, 0.9);
  z-index: 100; }
  .header .header-nav {
    width: auto;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px; }
    .header .header-nav .header-nav__logo {
      color: white;
      font-size: 34px;
      font-weight: 600; }
    .header .header-nav .header-nav__conteiner {
      width: 150px;
      height: 32px;
      display: flex;
      justify-content: space-between;
      align-items: center; }

.bord {
  width: auto;
  min-height: 500px;
  margin: 70px 150px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: start;
  align-items: start; }

.bord-actions {
  width: 100%;
  height: 30px; }
  .bord-actions .bord-actions__sertch {
    width: 200px;
    height: 25px;
    position: relative; }
    .bord-actions .bord-actions__sertch input {
      box-sizing: border-box;
      width: 100%;
      height: 30px;
      position: absolute;
      left: 0;
      top: 0;
      padding: 0 30px 0 10px;
      background: rgba(0, 0, 0, 0.9);
      border-radius: 10px;
      color: white; }
    .bord-actions .bord-actions__sertch svg {
      width: 20px;
      height: 20px;
      position: absolute;
      right: 10px;
      bottom: 0; }

.bord-books {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px; }
  .bord-books .bord-books__card {
    width: 150px;
    height: auto;
    padding: 5px;
    border: 1px solid rgba(38, 45, 127, 0.8);
    background: rgba(0, 0, 0, 0.9);
    position: relative; }
    .bord-books .bord-books__card p {
      margin: 10px 0;
      color: white; }
    .bord-books .bord-books__card:hover {
      transform: scale(1.02);
      transition: 0.2s; }
    .bord-books .bord-books__card .bord-books__card-img {
      width: 150px;
      height: 200px; }
      .bord-books .bord-books__card .bord-books__card-img img {
        width: 100%;
        height: 100%; }
    .bord-books .bord-books__card .bord-books__card-book {
      font-size: 14px;
      width: 120px;
      height: 30px;
      overflow: hidden;
      text-overflow: ellipsis; }
    .bord-books .bord-books__card .bord-books__card-author {
      font-size: 12px; }
    .bord-books .bord-books__card .bord-books__card-like {
      position: absolute;
      bottom: 17px;
      right: 10px; }
      .bord-books .bord-books__card .bord-books__card-like:hover svg path {
        fill: #ffe100; }

/*# sourceMappingURL=main.css.map */
